<div id="popup-registration" class="popup popup-registration">
    <div class="popup-grid">
        <div class="registration-block">
            <p class="registration__title">Для регистрации обратитесь к поставщику</p>
            <div class="registration-contacts">
                <p>Контакты:</p>
                <div class="registration-contacts-list">
                    <p>+7 495 111-11-11</p>
                    <p>service@pochta.ru</p>
                </div>
            </div>
            <div class="registration-btn">
                <a href="javascript:;" class="btn-primary" data-fancybox-close>Ок</a>
            </div>
        </div> 
    </div>
    <a href="javascript:;" class="closing-cross" data-fancybox-close>
        <svg>
            <use xlink:href="img/sprite.svg#closing-cross-icon"></use>
        </svg>
    </a>
</div>