<div id="popup-changing-battery-data" class="popup popup-changing-battery-data">
    <div class="popup-grid">
        <div class="changing-battery-data-block">
            <p class="changing-battery-data__title">Изменение данных АКБ</p>
            <form action="#" class="changing-battery-data-main">
                <div class="changing-battery-data-image"></div>
                <div class="changing-battery-data-list">
                    <div class="v-search-wrap">
                        <div class="v-search input-wrap">
                            <div class="v-search-input input white">
                                <input type="search" placeholder="Номер, название батареи или имя клиента">
                                <div class="input-icon">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#input-search-icon"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="v-search-hints input-hints" style="display: none;">
                                <div class="input-hints-block">
                                    <ul>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input gray">
                        <label for="#">Логин</label>
                        <input type="text" placeholder="Ваш логин" autocomplete="new-password">
                    </div>
                    <div class="v-search-wrap">
                        <div class="v-search input-wrap">
                            <div class="v-search-input input white">
                                <input type="search" placeholder="Номер, название батареи или имя клиента">
                                <div class="input-icon">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#input-search-icon"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="v-search-hints input-hints" style="display: none;">
                                <div class="input-hints-block">
                                    <ul>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input gray">
                        <label for="#">Логин</label>
                        <input type="text" placeholder="Ваш логин" autocomplete="new-password">
                    </div>
                    <div class="v-search-wrap">
                        <div class="v-search input-wrap">
                            <div class="v-search-input input white">
                                <input type="search" placeholder="Номер, название батареи или имя клиента">
                                <div class="input-icon">
                                    <svg>
                                        <use xlink:href="img/sprite.svg#input-search-icon"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="v-search-hints input-hints" style="display: none;">
                                <div class="input-hints-block">
                                    <ul>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                        <li><a href="#">ООО Мосдвор</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="changing-battery-data-btns">
                        <button type="submit" class="btn-primary">Сохранить</button>
                        <a href="#" class="btn-inline">Отменить</a>
                    </div>
                </div>
            </form>
        </div> 
    </div>
    <a href="javascript:;" class="closing-cross" data-fancybox-close>
        <svg>
            <use xlink:href="img/sprite.svg#closing-cross-icon"></use>
        </svg>
    </a>
</div>