<div id="popup-settings-profile" class="popup popup-settings-profile">
    <div class="popup-grid">
        <div class="popup-settings-profile-block">
            <p class="popup-settings-profile__title">Личные данные</p>
            <div class="popup-settings-profile-main">
                <div class="popup-settings-profile-img-wrap">
                    <div class="input-add-file">
                        <input type="file" id="add-file-img1">
                        <div></div>
                        <label for="add-file-img1" class="btn-inline">Загрузить файл</label>
                        <a href="javascript:;" class="btn-inline delete-img">Удалить</a>
                    </div>
                </div>
                <form action="#" class="popup-settings-profile-form">
                    <div class="input gray">
                        <label for="#">Фамилия</label>
                        <input type="text" autocomplete="new-password">
                    </div>
                    <div class="input gray">
                        <label for="#">Имя</label>
                        <input type="text" autocomplete="new-password">
                    </div>
                    <div class="input gray">
                        <label for="#">Отчество</label>
                        <input type="text" autocomplete="new-password">
                    </div>
                    <div class="input gray">
                        <label for="#">Город</label>
                        <input type="text" autocomplete="new-password">
                    </div>
                    <div class="input gray">
                        <label for="#">Телефон</label>
                        <input type="text" autocomplete="new-password">
                    </div>
                    <div class="input gray">
                        <label for="#">E-mail</label>
                        <input type="text" autocomplete="new-password">
                    </div>

                    <div class="popup-settings-profile-form-btns">
                        <button type="submit" class="btn-primary">Сохранить</button>
                        <a href="#" class="btn-inline">Отменить</a>
                    </div>
                </form>
            </div>
        </div> 
    </div>
    <a href="javascript:;" class="closing-cross" data-fancybox-close>
        <svg>
            <use xlink:href="img/sprite.svg#closing-cross-icon"></use>
        </svg>
    </a>
</div>

<script>
    const addFilesSettingsBlocks = document.querySelectorAll('.input-add-file');
    addFile(addFilesSettingsBlocks);
</script>